{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock  %}
{% block content %}
<div class="container">
    <h1 class="text-center text-primary">
        {{student.name}}
    </h1>
    <hr>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center text-success">Class ID</th>
                <th scope="col" class="text-center text-success">Class Name</th>
                
            </tr>
        </thead>
        <tbody>
            {% if  classe | length == 0   %}
          
           
                <th class="text-center text-danger">No Data</th>
                <th><th>
       
            {% else %}

            {% for class in classe %}
            <tr>
                <th scope="row" class="text-center text-primary">{{class.id}}</th>
                <td class="text-center text-primary">{{class.name}}</td>
            </tr>
            {% endfor %}
            {% endif %}
            
        </tbody>
       </table>
</div>

{% endblock  %}


