{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock  %}
{% block content %}
<div class="container">
    <h1 class="text-center">{{title}}</h1>
    <hr>
    <h4 class="text-primary">The registration process</h4>
    <p>If you are starting a new course at the University, you will be sent your IT activation code and log-in details by email once you have returned your signed Card Form. Your password and login is called your Single Sign On, which is the Oxford system for accessing a range of IT services, including Student Self Service.

        Your first task using Student Self Service will be to register for the forthcoming academic year. You will be sent an email when the registration period opens. You must register before the Friday of Week 1 of term. When you login to Student Self Service you will need to check your personal, contact, academic and other information and confirm that you wish to be enrolled at the University of Oxford.</p>
    <h4>Maintaining your record</h4>
    <p>It is your responsibility to update your personal information and contact details throughout your studies at the University of Oxford using Student Self Service. You will be able to update these details at any time throughout the year. This is a legal requirement for international students holding a visa to study in the UK.

        You must register once a year, at the anniversary term in which you started your current course. As a continuing student for Year 2 and beyond, you will be sent an email reminding you to complete your own registration using Student Self Service when the registration period opens. You do not need your college or department to complete the final step for you.</p>

    </div>
{% endblock  %}