{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock  %}
{% block content %}
    <div class="container">
        <br>
        <h2 class="text-center">{{title}}</h2>
        <hr>
       {% if student %}
       <div>
        <form action="{{url_for("edit_student",id=student.id)}}" method="POST">
            <div class="input-group mb-3">
              <input type="text" class="form-control p-2" placeholder="Enter student name" name="name" value="{{student.name}}">
              <button type="submit" class="btn btn-success">Edit Student</button>
            </div>
          </form>
       </div>
       {% else %}
       <div>
        <form action="{{url_for("add_student")}}" method="POST">
            <div class="input-group mb-3">
              <input type="text" class="form-control p-2" placeholder="Enter student name" name="name">
              <button type="submit" class="btn btn-success">Add Student</button>
            </div>
          </form>
       </div>
       
       {% endif %}





       <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col" class="text-center">Student Name</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <th scope="row">{{student.id}}</th>
                <td class="text-center">{{student.name}}</td>
                <td class="text-center">
                    <a href="{{url_for("edit_student", id = student.id)}}" class="btn btn-outline-primary">Edit</a>
                    <a href="{{url_for("detail_student", id = student.id)}}" class="btn btn-outline-success">Detail</a>
                <td>
            </tr>
            {% endfor %}
        </tbody>
       </table>
    </div>

{% endblock  %}